
/* Main Header Section */
body        {  margin: 0;               }
.logo span  {  color: MediumAquamarine; }
a           {  color: black;            }

/* Column widths */
.first.column  {  width: 640px;         }
.second.column {  width: 320px;         }
.third.column  {  width: 200px;         }

header {
  display: flex;
  position: absolute;
  align-items: center;
  position: fixed;
  width: 100%;
  height 100px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 2;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

nav span {
  display: inline-block;
  padding: 20px 20px;
}

/* Image Content Settings */

.image-content {
  height: 300px;
  margin-top: 10px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.main-story .image-content  {
  background-image: url(../images/img-story-main.png);
  width: 630px;
  text-align: left;
  justify-content: flex-start;
  padding-left: 10px;
  font-size: 40px;
}

.earth.image-content  { background-image: url(../images/img-story-2.png); }
.research.image-content  {  background-image: url(../images/img-story-3.png); }
.cat.image-content  {  background-image: url(../images/img-story-1.png); }

/* Main Story */

h2 {
  margin: 0 auto;
  font-family: Georgia;
  font-size: 30px;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 116px;
}

.column, .story {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

/* Third Column */

.news-bites h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
}

.news-bites .bite a {
  display: block;
  margin: 0;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

/* Footer Section */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 120px;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 16px;
}

footer .title {
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}
